{{ define "meta" }}
	{{ if .Params.description }}
		<meta name="description" content="{{ .Params.description | markdownify | plainify | chomp }}">
	{{ else }}
		{{ with .Summary | plainify | chomp }}
			<meta name="description" content="{{ . }}">
		{{ end }}
	{{ end }}
{{ end }}

{{ define "style" }}
	<link href="{{ "/styles/single.css" | relURL }}" rel="stylesheet">
{{ end }}

{{ define "title" }}
	{{- if .Params.section_in_title -}}
		{{ .Params.section_in_title }} | {{ .Title }} - {{ .Site.Title }}
	{{- else }}
		{{ .Title }} - {{ .Site.Title }}
	{{- end }}
{{- end -}}

{{ define "breadcrumb" }}
	{{ if not .Parent.IsHome }}
		{{ partial "breadcrumb.html" . }}
	{{ end }}
{{ end }}

{{ define "h1" }}
	<h1>{{ .Title }}</h1>
{{ end }}

{{ define "header" }}
	{{ if not .Params.hide_date }}
		{{ partial "date.html" . }}
	{{ end }}
	{{ if .Params.toc }}
		<nav id="table-of-contents">
			<h2>{{ i18n "contents"}}</h2>
			{{ partial "table-of-contents.html" . }}
		</nav>
	{{ end }}
{{ end }}

{{ define "main" }}
	{{ .Content }}
{{ end }}

{{ define "footer" }}
	{{ if not .Parent.IsHome }}
		<footer id="page-footer">
			{{ partial "comment.html" . }}
			{{ partial "related.html" . }}
			{{ partial "breadcrumb.html" . }}
		</footer>
	{{ end }}
{{ end }}
