@charset "utf-8";

.articles {
	list-style-type: none;
	padding-left: 0;
}
.articles h3 { border-bottom: none }
.articles h3 a { text-decoration: underline }
.articles .date { margin: 0 }
.articles p { margin: 0.2em 0 }
.articles > li { margin: 0.5em }
.articles > li:not(:last-child) { border-bottom: 1px solid }

#sections dt {
	font-size: 120%;
	font-weight: bold;
}
#sections dt {
	border-top: 1px solid;
	margin-top: 1em;
	padding-top: 0.5em;
}
#sections dt:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
#sections dd {
	display: inline-block;
	margin-left: 1em;
}

#rss a { color: #ED4F00 }
