@charset "utf-8";

.articles {
	list-style-type: none;
	padding-left: 0;
}
.articles dt { font-weight: bold }
.articles > li { margin: 0.5em }
.articles > li:not(:last-child) { border-bottom: 1px solid }

#sections dt {
	font-size: 120%;
	font-weight: bold;}
#sections dt {
	border-top: 1px solid;
	margin-top: 1em;
	padding-top: 0.5em;
}
#sections dt:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
#sections dd {
	display: inline-block;
	margin-left: 1em;
}

.rss {
	display: inline-block;
	margin: 0 0.5em;
	color: #ED4F00;
}
/* fontsize for: hx * (hx .rss) = 100% */
h1 .rss { font-size: 66.7% }
h2 .rss { font-size: 74.1% }
h3 .rss, h4 .rss { font-size: 83.3% }

