@charset "UTF-8";

/*** personalize ***/
body { background-color: #f8f8f8 }
h1, h2, h3, h4 { border-color: #006600 }
#site-header {
	font-family: sans-serif;
	background-color: #005500;
}
#site-footer { background-color: #482800 }
#site-header a, #site-footer, #site-footer a { color: #f8f8f8 }

code { background-color: #e0f0e0 }

/*** default element style ***/
body { margin: 0 }

ul ul { padding-left: 1em }
dd { margin-left: 1em }

code { font-family: monospace }
pre > code {
	display: block;
	padding: 0.5em;
}

address { font-style: normal }

p, li, dt, dd { line-height: 1.4 }
p { margin-top: 0.5em }

h1 { font-size: 150% }
h2 {
	padding: 0.1em 0;
	border-bottom-style: solid;
	font-size: 135%;
}
h3, h4 { font-size: 120% }
h3 {
	display: inline-block;
	border-bottom-style: solid;
}
h2, h3 { border-width: 0.15em }
h1 { margin: 0.3em 0 }
h2, h3, h4 { margin: 0.2em 0 }

figure {
	max-width: 18em;
	display: inline-block;
	margin: 0.5em;
}
figure.full {
	max-width: 100%;
	display: block;
}
img {
	max-width: 100%;
	height: auto;
}
figcaption p { margin: 0 }

table {
	margin: 0.5em;
	border-collapse: collapse;
}
table, th, td { border: solid 0.1em }
table caption {
	font-size: 110%;
}

th, td { padding: 0 0.5em }
tr:nth-child(even) { background-color: #e8e8e8 }
/* show diagonal line for empty cells */
th:empty, td:empty {
	background-image:
		linear-gradient(to top left,
		transparent, transparent calc(50% - 0.05em),
		black,
		transparent calc(50% + 0.05em), transparent);
}
th, td { text-align: center }

/*** common ***/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.horizon { padding: 0 }
.horizon > li {
	display: inline-block;
}
.horizon > dt, .horizon > dd { display: inline-block }
.horizon > dd { margin-left: 0 }

/*** base layout ***/
/* position: relative is anchor for position: absolute */
.inner {
	position: relative;
	margin: 0 auto;
	padding: 0.5em;
	max-width: 39em;
}

/*** navigation on header and footer ***/
#site-header ul, #site-footer ul { margin: 0 }
#site-header li, #site-footer li { margin: 0 0.3em }

/*** footer ***/
#site-footer p { margin: 0.3em 0 }
#copyright { margin-bottom: 0 }
#cse { margin: 0.4em }
#cse input[type=submit] { width: 4em }

/*** body ***/
.breadcrumb { margin: 0 }
.breadcrumb > li:not(:last-child)::after {
	content: '/';
	margin: 0 0.3em;
}
#page-header ul, #page-header p { margin: 0.1em 0 }
#page-header {
	border-bottom: 1px solid;
	margin-bottom: 0.5em;
}
#page-header h1, #rss { display: inline-block }
#rss { padding-left: 0.2em }
#title { float: left }
#lang-switcher { text-align: right }

@media print {
	#site-header,
	#site-footer,
	#navbar,
	#lang-switcher,
	#page-footer,
	.breadcrumb,
	#about > .tag
	{ display: none }
}
