@charset "UTF-8";

/*** personalize ***/
body { background-color: #f8f8f8 }
h2, h3, h4 { border-color: #006600 }
#site-header, #navbar {
	font-family: sans-serif;
	background-color: #005500;
}
#site-footer { background-color: #482800 }
#site-header a,
#navbar a, #navbar .button-link,
#site-footer, #site-footer a { color: #f8f8f8 }

code { background-color: #e0f0e0 }

#navbar .dropdown-content a { color: #000000 }
.dropdown-content { background-color: #f8f8f8 }

/*** default element style ***/
body { margin: 0 }

ul ul { padding-left: 2em }
dd { margin-left: 2em }

code { font-family: monospace }
pre > code {
	display: block;
	padding: 0.5em;
}

address { font-style: normal }

p, li, dt, dd { line-height: 1.4 }

h1 { font-size: 150% }
h2 {
	padding: 0.2em;
	border-bottom-style: solid;
	padding-left: 0.2em;
	font-size: 135%;
}
h3, h4 { font-size: 120% }
h3 {
	display: inline-block;
	padding: 0 0.2em;
	border-bottom-style: solid;
}
h4 {
	padding-left: 0.2em;
}
h2, h3 { border-width: 0.15em }
h1, h2, h3, h4 { margin: 0.5em 0 }

img { height: auto }

/*** common ***/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.horizon { padding: 0 }
.horizon > li { display: inline-block }
.horizon > dt, .horizon > dd { display: inline-block }
.horizon > dd { margin-left: 0 }

.button-link {
	display: block;
	padding: 0.25em 0.5em;
	margin: 0 0.1em;
	border: solid 1px;
	cursor: pointer;
}
.button-link:hover { text-decoration: underline }

.dropdown-content ul { margin: 0 }
/* set list-style-type to reset nested count for list marker.
   since dropdown content is in navbar list. */
.dropdown-content > ul { list-style-type: disc }
.dropdown-content > ul ul { list-style-type: circle }
.dropdown-content > ul ul ul { list-style-type: square }
.dropdown-content {
	display: none;
	position: fixed;
	margin: 0 auto;
	padding: 0.5em;
	overflow-y: auto;
}
.show {
	display: inline-block;
}
.dropdown-mark {
	margin-left: 0.3em;
	font-size: 0.8em;
}

/*** base layout ***/
/* position: relative is anchor for position: absolute */
.inner {
	position: relative;
	margin: 0 auto;
	padding: 0.5em;
	max-width: 39em;
}
.inner img { max-width: 39em }

#navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3em;
}
#site-footer{ margin-bottom: 3em }
#navbar .dropdown-content {
	bottom: 3em;
	box-shadow: 0 -1px 10px;
	max-width: 39em;
	left: 0;
	right: 0;
	max-height: 70vh;
}

/*** header ***/
#site-header li { margin: 0 0.3em }

/*** footer ***/
#privacy-policy { margin-top: 0 }
#copyright { margin-bottom: 0 }

/*** nav ***/
#navbar ul, #site-header ul { margin: 0 }
#navbar {
	white-space: nowrap;
	overflow: auto;
}
#navbar a { text-decoration: none }
#navbar .dropdown-content a {
	white-space: normal;
	text-decoration: underline;
}
.mark {
	text-align: center;
	width: 2em;
}

/*** page ***/
#table-of-contents {
	border-top: 1px solid;
	border-bottom: 1px solid;
}
#table-of-contents > h2 {
	border: none;
	margin-bottom: 0;
}
#table-of-contents ul { margin-top: 0 }

#lang-switcher {
	position: absolute;
	right: 0.3em;
	top: 0;
}

#page-footer {
	border-top: 1px solid;
}

.tag > dt { display: inline-block }
.tag > dd {
	display: inline-block;
	margin: 0;
	margin-right: 0.5em;
}

.tags {
	column-width: 6.5em;
	column-rule: 1px solid;
	list-style: none;
}

.sections { padding-left: 0 }
.sections > li { display: inline-block }

.breadcrumb { margin: 0 }
.breadcrumb > li::after {
	content: '/';
	margin: 0 0.5em;
}

#comment dd {
	margin: 0 0.3em;
	display: inline-block;
}

@media print {
	#site-header,
	#site-footer,
	#navbar,
	#lang-switcher,
	#page-footer,
	.breadcrumb,
	#about > .tag
	{ display: none }
}
